# Covid-19 Analysis
<B> TASK 1</B>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\KUNAL\Documents\Widhya_Internship\covid19.txt', sep = ',', header =0 , engine = 'python', encoding = 'latin-1')
data=data.drop(data.columns[0],axis=1)
data

,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,30/01/20,Kerala,1,0,0,0
1,31/01/20,Kerala,1,0,0,0
2,01/02/20,Kerala,2,0,0,0
3,02/02/20,Kerala,3,0,0,0
4,03/02/20,Kerala,3,0,0,0
...,...,...,...,...,...,...
265,21/03/20,Jammu and Kashmir,4,0,0,0
266,21/03/20,Ladakh,13,0,0,0
267,21/03/20,Uttar Pradesh,23,1,9,0
268,21/03/20,Uttarakhand,3,0,0,0
269,21/03/20,West Bengal,3,0,0,0

In [3]:
grouped_data=data.groupby("Date",sort=False,axis=0)
grouped_data=grouped_data.agg({'ConfirmedIndianNational':['sum'],'ConfirmedForeignNational':['sum'],'Cured':['sum'],'Deaths':['sum']})
grouped_data

         ConfirmedIndianNational ConfirmedForeignNational Cured Deaths
                             sum                      sum   sum    sum
Date
30/01/20                       1                        0     0      0
31/01/20                       1                        0     0      0
01/02/20                       2                        0     0      0
02/02/20                       3                        0     0      0
03/02/20                       3                        0     0      0
04/02/20                       3                        0     0      0
05/02/20                       3                        0     0      0
06/02/20                       3                        0     0      0
07/02/20                       3                        0     0      0
08/02/20                       3                        0     0      0
09/02/20                       3                        0     0      0
10/02/20                       3                        0     0      0
11/02/20                       3                        0     0      0
12/02/20                       3                        0     0      0
13/02/20                       3                        0     0      0
14/02/20                       3                        0     0      0
15/02/20                       3                        0     0      0
16/02/20                       3                        0     0      0
17/02/20                       3                        0     0      0
18/02/20                       3                        0     0      0
19/02/20                       3                        0     0      0
20/02/20                       3                        0     0      0
21/02/20                       3                        0     0      0
22/02/20                       3                        0     0      0
23/02/20                       3                        0     0      0
24/02/20                       3                        0     0      0
25/02/20                       3                        0     0      0
26/02/20                       3                        0     0      0
27/02/20                       3                        0     0      0
28/02/20                       3                        0     0      0
29/02/20                       3                        0     0      0
01/03/20                       3                        0     0      0
02/03/20                       5                        0     0      0
03/03/20                       5                        1     3      0
04/03/20                      12                       16     3      0
05/03/20                      14                       16     3      0
06/03/20                      15                       16     3      0
07/03/20                      18                       16     3      0
08/03/20                      23                       16     3      0
09/03/20                      30                       16     3      0
10/03/20                      42                       16     3      0
11/03/20                      44                       16     3      0
12/03/20                      57                       17     3      0
13/03/20                      64                       17     3      1
14/03/20                      67                       17    10      2
15/03/20                      93                       17    13      2
16/03/20                      97                       17    13      2
17/03/20                     113                       24    14      3
18/03/20                     126                       25    14      3
19/03/20                     148                       25    20      4
20/03/20                     191                       32    23      4
21/03/20                     244                       39    23      4

In [4]:
data.sum()
data[data.Date=="04/03/20"]

,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
39,04/03/20,Uttar Pradesh,6,0,0,0
40,04/03/20,Kerala,3,0,3,0
41,04/03/20,Haryana,0,2,0,0
42,04/03/20,Delhi,1,0,0,0
43,04/03/20,Telengana,1,0,0,0
44,04/03/20,Rajasthan,1,14,0,0

In [4]:
grouped=data.groupby("Date",sort=False,axis=0)
grouped=grouped.agg({'ConfirmedIndianNational':['sum'],'ConfirmedForeignNational':['sum']})
grouped

         ConfirmedIndianNational ConfirmedForeignNational
                             sum                      sum
Date
30/01/20                       1                        0
31/01/20                       1                        0
01/02/20                       2                        0
02/02/20                       3                        0
03/02/20                       3                        0
04/02/20                       3                        0
05/02/20                       3                        0
06/02/20                       3                        0
07/02/20                       3                        0
08/02/20                       3                        0
09/02/20                       3                        0
10/02/20                       3                        0
11/02/20                       3                        0
12/02/20                       3                        0
13/02/20                       3                        0
14/02/20                       3                        0
15/02/20                       3                        0
16/02/20                       3                        0
17/02/20                       3                        0
18/02/20                       3                        0
19/02/20                       3                        0
20/02/20                       3                        0
21/02/20                       3                        0
22/02/20                       3                        0
23/02/20                       3                        0
24/02/20                       3                        0
25/02/20                       3                        0
26/02/20                       3                        0
27/02/20                       3                        0
28/02/20                       3                        0
29/02/20                       3                        0
01/03/20                       3                        0
02/03/20                       5                        0
03/03/20                       5                        1
04/03/20                      12                       16
05/03/20                      14                       16
06/03/20                      15                       16
07/03/20                      18                       16
08/03/20                      23                       16
09/03/20                      30                       16
10/03/20                      42                       16
11/03/20                      44                       16
12/03/20                      57                       17
13/03/20                      64                       17
14/03/20                      67                       17
15/03/20                      93                       17
16/03/20                      97                       17
17/03/20                     113                       24
18/03/20                     126                       25
19/03/20                     148                       25
20/03/20                     191                       32
21/03/20                     244                       39

In [5]:
Sumed=grouped['ConfirmedIndianNational']+grouped['ConfirmedForeignNational']
grouped['CombinedCases']=Sumed
Data = grouped['CombinedCases']
Data

Date
30/01/20      1
31/01/20      1
01/02/20      2
02/02/20      3
03/02/20      3
04/02/20      3
05/02/20      3
06/02/20      3
07/02/20      3
08/02/20      3
09/02/20      3
10/02/20      3
11/02/20      3
12/02/20      3
13/02/20      3
14/02/20      3
15/02/20      3
16/02/20      3
17/02/20      3
18/02/20      3
19/02/20      3
20/02/20      3
21/02/20      3
22/02/20      3
23/02/20      3
24/02/20      3
25/02/20      3
26/02/20      3
27/02/20      3
28/02/20      3
29/02/20      3
01/03/20      3
02/03/20      5
03/03/20      6
04/03/20     28
05/03/20     30
06/03/20     31
07/03/20     34
08/03/20     39
09/03/20     46
10/03/20     58
11/03/20     60
12/03/20     74
13/03/20     81
14/03/20     84
15/03/20    110
16/03/20    114
17/03/20    137
18/03/20    151
19/03/20    173
20/03/20    223
21/03/20    283
Name: CombinedCases, dtype: int64

### Combining Indian & Foreign Cases

In [17]:
Data = pd.DataFrame(grouped['CombinedCases'])
Data

          CombinedCases
Date
30/01/20              1
31/01/20              1
01/02/20              2
02/02/20              3
03/02/20              3
04/02/20              3
05/02/20              3
06/02/20              3
07/02/20              3
08/02/20              3
09/02/20              3
10/02/20              3
11/02/20              3
12/02/20              3
13/02/20              3
14/02/20              3
15/02/20              3
16/02/20              3
17/02/20              3
18/02/20              3
19/02/20              3
20/02/20              3
21/02/20              3
22/02/20              3
23/02/20              3
24/02/20              3
25/02/20              3
26/02/20              3
27/02/20              3
28/02/20              3
29/02/20              3
01/03/20              3
02/03/20              5
03/03/20              6
04/03/20             28
05/03/20             30
06/03/20             31
07/03/20             34
08/03/20             39
09/03/20             46
10/03/20             58
11/03/20             60
12/03/20             74
13/03/20             81
14/03/20             84
15/03/20            110
16/03/20            114
17/03/20            137
18/03/20            151
19/03/20            173
20/03/20            223
21/03/20            283

In [25]:
Data.iloc[34]

Date
30/01/20      1
31/01/20      1
01/02/20      2
02/02/20      3
03/02/20      3
04/02/20      3
05/02/20      3
06/02/20      3
07/02/20      3
08/02/20      3
09/02/20      3
10/02/20      3
11/02/20      3
12/02/20      3
13/02/20      3
14/02/20      3
15/02/20      3
16/02/20      3
17/02/20      3
18/02/20      3
19/02/20      3
20/02/20      3
21/02/20      3
22/02/20      3
23/02/20      3
24/02/20      3
25/02/20      3
26/02/20      3
27/02/20      3
28/02/20      3
29/02/20      3
01/03/20      3
02/03/20      5
03/03/20      6
04/03/20     28
05/03/20     30
06/03/20     31
07/03/20     34
08/03/20     39
09/03/20     46
10/03/20     58
11/03/20     60
12/03/20     74
13/03/20     81
14/03/20     84
15/03/20    110
16/03/20    114
17/03/20    137
18/03/20    151
19/03/20    173
20/03/20    223
21/03/20    283
Name: CombinedCases, dtype: int64

### Finding the Rate of Increase Value

In [ ]:
for i in Data.iterrows(range(34,52)):
    for j in Data.iterrows(range(i+1,52)):
        r=(j.iloc[35] - i.iloc[34])/i.iloc[34]
        break
print(r)

In [ ]:
 (df
   ...: .groupby(['col1', 'col2'])
   ...: .agg({
   ...:     'col3': ['mean', 'count'], 
   ...:     'col4': ['median', 'min', 'count']
   ...: }))